@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #242424;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* Responsive container */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 5px;
  }
}